p {
  	display: inline;
  	font-size: 70px;
}

h1 {
	font-size: 400%; 
	text-align: center;
}

img {
	display: block;
	margin-top: -30px;
	margin-right: auto;
	margin-left: auto;
}


#timer-container {
	width: 500px;
	height: 130px;
	background-color: #f2f2f2;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
  	padding-top: 20px;
	text-align: center;
	line-height: 100px;
	border-radius: 10px;
	vertical-align: middle;
}
